* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-rows: auto;
  font-family: 'Source Code Pro', monospace;
  background-color: rgb(212, 188, 164, 0.25);
  width: 100%;
}
header {
  margin-top: 10rem;
  margin-bottom: 1rem;
  height: 50px;
  display: grid;
  justify-content: center;
  align-content: center;
  width: 100%;
}

header > h1 {
  text-transform: uppercase;
  font-size: 3rem;
}

main {
  display: grid;
  justify-items: center;
  justify-content: center;
  align-items: center;
  grid-template-columns: 100px 20px 100px 20px 100px 20px 100px;
  grid-template-rows: auto;
  grid-column-gap: 5rem;
}
.number {
  font-size: 5rem;
}
.text {
font-size: 2rem;
}

.bounceEffect {
  animation: bounce 1s infinite;
}

@keyframes bounce {
50% {
  transform: translateY(0.6vw);
}
}

@media only screen and (max-width: 600px) {
  main {
    grid-template-columns: 5fr 1fr 5fr 1fr 5fr 1fr 5fr;
    grid-column-gap: 0;
  }
  .number {
    font-size: 1.5rem;
  }
  .text {
  font-size: 0.8rem;
  }
  header > h1 {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 601px) {
  main {
    grid-template-columns: 5fr 1fr 5fr 1fr 5fr 1fr 5fr;
    grid-column-gap: 0;
  }
  .number {
    font-size: 2.5rem;
  }
  .text {
  font-size: 1.8rem;
  }
header > h1 {
    font-size: 3rem;
  }
}